@page
@model AddModel
@{
    var applicantTypes = SelectItemExtensions.ToSelectList(ApplicantTypeEnum.Applicant);
    var features = await FeatureService.FeatureListAsync(FeatureTypeEnum.Applicant).ConfigureAwait(false);
    var applicantFeatures = new JsonSelectorComponentModel
    {
        IdProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Id),
        NameProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Name),
        ValueProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Value),
        ModelName = nameof(Model.NewApplicant),
        ItemName = nameof(Model.NewApplicant.ApplicantFeatures),
        Json = nameof(Model.NewApplicant.ApplicantFeaturesJson),
        Title = SharedLocalizer["ApplicantFeatures"],
        ScriptKey = "applicantFeatureScript",
        SelectListItems = features?.Select(x => new SelectListItem
        {
            Text = x.Name,
            Value = x.Id,
        }).SelectFirstItem(),
    };

    var personCreator = new PersonCreatorComponentModel
    {
        ModelName = nameof(Model.NewApplicant),
        ScriptKey = "applicantCreatorScript",

    };
}
<form method="post" class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle" />
        <input asp-for="NewApplicant.Id" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="input-wrapper">
                        <label asp-for="NewApplicant.Type" class="control-label"></label>
                        <select asp-for="NewApplicant.Type" asp-items="applicantTypes" class="form-control"></select>
                        <span asp-validation-for="NewApplicant.Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <vc:person-creator model="@personCreator" />
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="input-wrapper">
                        <input asp-for="NewApplicant.ApplicantFeaturesJson" />
                        <vc:json-selector model="@applicantFeatures" />
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <submit />
            <status>
                @Model.Status
            </status>
        </footer>
    </div>
</form>
@section Scripts
    {
    <script asp-paste-key="@applicantFeatures.ScriptKey"></script>
}