@page
@model IndexModel

<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewApplicant"]</a>
        </widget-header>
        <section class="container-fluid">

            @if (Model.List.Items?.Any() == true)
            {
                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @item.Name
                                    </b>
                                    <span class="badge badge-secondary">@item.Type.GetDisplayName()</span>
                                    <a href="tel:@item.Contact?.Mobile" class="badge badge-primary">@item.Contact?.Mobile</a>
                                    @if (!string.IsNullOrEmpty(item.Phone))
                                    {
                                        <span class="badge badge-secondary">@item.Phone</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Address))
                                    {
                                        <span class="badge badge-warning">@item.Address</span>
                                    }
                                </span>
                                @if (item.ApplicantFeatures?.Any() == true)
                                {
                                    <span>
                                        @foreach (var feature in item.ApplicantFeatures)
                                        {
                                            <span class="badge badge-success">@feature.Feature?.Name &mdash; @feature.Value.FixCurrency()</span>
                                        }
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <span class="text-gray text-justify description">
                                        @item.Description
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" target="_blank" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="ApplicantAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                        {
                            <vc:log logs="@item.Logs"></vc:log>
                        }
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>