@page
@model IndexModel
@{
    var usersList = await UserService.ListJsonAsync(false, false);
    var users = (usersList?.Select(x => new SelectListItem
    {
        Value = x.UserId,
        Text = x.UserFullName
    }).ToList()).AddNone();
}
<status>
    @Model.Status
</status>
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer[SharedResource.NewApplicant]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows" />
        </section>
        <section class="container-fluid" id="paginatedList">
            <item-viewer model="@Model.List" />
        </section>
        <section class="container-fluid">
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>
<div class="modal fade animate" id="transModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" asp-page-handler="Trans" class="modal-content animate-bottom">
            <input asp-for="TransInput.ApplicantId" />
            <div class="modal-header">
                <h4 class="modal-title">انتقال متقاضی به کاربر دیگر</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-right">
                <div class="container-fluid">
                    <hr subject="@SharedLocalizer[SharedResource.Applicant]"/>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <b id="applicant"></b>
                        </div>
                    </div>
                    <hr subject="انتقال"/>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-md">
                            <label class="control-label">@SharedLocalizer[SharedResource.From]</label>
                            <b id="owner"></b>
                        </div>
                        <div class="col-12 col-md">
                            <div class="input-wrapper">
                                <label asp-for="TransInput.NewUserId" class="control-label"></label>
                                <select asp-for="TransInput.NewUserId" asp-items="users" class="custom-select"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-dark text-white justify-content-end">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">@SharedLocalizer[SharedResource.Cancel]</button>
                <button type="submit" class="btn btn-sm btn-primary mr-2">@SharedLocalizer[SharedResource.Submit]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {

            const applicantIdElement = "#@(nameof(Model.TransInput))_@(nameof(Model.TransInput.ApplicantId))";
            $('#transModal').on('show.bs.modal',
                function(event) {
                    const button = $(event.relatedTarget);
                    const applicantId = button.data('applicant-id');
                    const owner = button.data('owner');
                    const applicantName = button.data('applicant-name');
                    const applicantMobile = button.data('applicant-mobile');

                    const modal = $(this);
                    modal.find(applicantIdElement).val(applicantId);
                    modal.find('#owner').html(owner);
                    modal.find('#applicant').html(`${applicantName} &mdash; ${applicantMobile}`);
                });

            $('#transModal').on('hide.bs.modal',
                function(event) {
                    const modal = $(this);
                    modal.find(applicantIdElement).val("");
                    modal.find('#owner').html("");
                    modal.find('#applicant').html();

                });
        });
    </script>
}