@page
@model IndexModel
@{
    var categories = SelectItemExtensions.ToSelectList<CategoryTypeEnum>().AddNone();
}
<div class="col-12">
    <status>
        @Model.Status
    </status>
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewCategory"]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows" />
        </section>
        <section class="container-fluid" id="paginatedList">
            <item-viewer model="@Model.List" />
        </section>
        <section class="container-fluid">
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>

<search-modal searchModel="@Model.SearchInput">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Name"></label>
                <input asp-for="SearchInput.Name" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Type"></label>
                <select asp-items="categories" asp-for="SearchInput.Type" class="custom-select"></select>
            </div>
        </div>
    </div>
</search-modal>