@page
@model IndexModel
@{
    var categories = SelectItemExtensions.ToSelectList<CategoryTypeEnum>().AddNone();
}
<div class="col-12">
    <status>
        @Model.Status
    </status>
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewCategory"]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows"></search-nav>
            <item-viewer model="@Model.List.Items">
                @foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"].ToString() : SharedLocalizer["Delete"].ToString();
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <ul class="info-breadcrumb">
                                    <li>@item.Type.GetDisplayName()</li>
                                </ul>
                                <span>
                                    <b class="title">
                                        @item.Name
                                    </b>
                                    @if (item.Type == CategoryTypeEnum.Item)
                                    {
                                        <a class="badge badge-primary" asp-page="@typeof(Item.IndexModel).Page()" target="_blank" asp-route-itemCategory="@item.Name">@SharedLocalizer[SharedResource.AvailableItems]</a>
                                    }
                                    else
                                    {
                                        <a class="badge badge-primary" asp-page="@typeof(Item.IndexModel).Page()" target="_blank" asp-route-propertyCategory="@item.Name">@SharedLocalizer[SharedResource.AvailableItems]</a>
                                    }
                                </span>
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="CategoryAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="Category" id="@item.Id" />
                    </div>
                }
            </item-viewer>
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>

<search-modal searchModel="@Model.SearchInput">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Name"></label>
                <input asp-for="SearchInput.Name" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Type"></label>
                <select asp-items="categories" asp-for="SearchInput.Type" class="custom-select"></select>
            </div>
        </div>
    </div>
</search-modal>