@page
@model IndexModel
<div class="col-12">
    <status>
        @Model.Status
    </status>
    <div class="widget">
        <widget-header title="@Model.PageTitle"/>
        <section class="container-fluid">
            <item-viewer model="@Model.List.Items">
                @foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <a asp-page="@typeof(Property.IndexModel).Page()" class="title" asp-route-id="@item.Property.Value?.Id" target="_blank">
                                        @SharedLocalizer["PropertyDetail"]
                                    </a>
                                </span>
                                @if (item.Property.Value?.CurrentPropertyOwnership()?.Ownerships.Value?.Any() == true)
                                {

                                    <span>
                                        @SharedLocalizer["Owners"]:
                                        @foreach (var ownership in item.Property.Value.CurrentPropertyOwnership().Ownerships.Value)
                                        {
                                            <a asp-page="@typeof(Customer.IndexModel).Page()" asp-route-ownerId="@ownership.Id" target="_blank" class="badge badge-warning">@ownership.Customer.Value.Name &mdash; @ownership.Customer.Value.Mobile</a>
                                        }
                                    </span>
                                }
                                @if (item.Applicants.Value?.Any() == true)
                                {
                                    <span>
                                        @SharedLocalizer["Applicants"]:
                                        @foreach (var applicant in item.Applicants.Value)
                                        {
                                            <a asp-page="@typeof(Customer.IndexModel).Page()" asp-route-ownerId="@applicant.Id" target="_blank" class="badge badge-danger">@applicant.Customer.Value.Name &mdash; @applicant.Customer.Value.Mobile</a>
                                        }
                                    </span>
                                }
                                @if (item.ItemFeatures.Value?.Any() == true)
                                {
                                    <span>
                                        @foreach (var feature in item.ItemFeatures.Value)
                                        {
                                            <span class="badge badge-secondary">@feature.Feature.Value?.Name &mdash; @feature.Value</span>
                                        }
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <span class="text-gray text-justify description">
                                        @item.Description
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(Deal.AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-success">@SharedLocalizer["DealFinish"]</a>
                                    <a asp-controller="Remove" asp-action="DealRequestAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@SharedLocalizer["Reject"]</a>
                                }
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="DealRequest" id="@item.Id"/>
                    </div>
                }
            </item-viewer>
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>