@page
@model IndexModel
@{
    var categorieslist = await FeatureService.CategoryListAsync(CategoryTypeEnum.Property, true).ConfigureAwait(false);
    var categories = categorieslist?.Select(x => new SelectListItem
    {
        Value = x.Id,
        Text = x.Name
    }).ToList().AddNone();

}
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center margin-bottomed">
            </div>
            @if (Model.List.Items?.Any() == true)
            {
                <div class="col-12">
                    <form method="post" class="widget mini-widget bg-white">
                        <widget-header title="@SharedLocalizer["Search"]"></widget-header>
                        <section class="container-fluid margin-bottomed">
                            <div class="row">
                                <div class="col-12 margin-bottomed">
                                    <label class="control-label" asp-for="SearchInput.Address"></label>
                                    <input asp-for="SearchInput.Address" class="form-control" />
                                </div>
                                <div class="col-12 col-lg-4 margin-bottomed">
                                    <label class="control-label" asp-for="SearchInput.Owner"></label>
                                    <input asp-for="SearchInput.Owner" class="form-control" />
                                </div>
                                <div class="col-6 col-lg-4 margin-bottomed">
                                    <label class="control-label" asp-for="SearchInput.Category"></label>
                                    <select asp-items="categories" asp-for="SearchInput.Category" class="form-control"></select>
                                </div>
                                <div class="col-6 col-lg-4 margin-bottomed">
                                    <label class="control-label" asp-for="SearchInput.District"></label>
                                    <input asp-for="SearchInput.District" class="form-control" />
                                </div>
                            </div>
                        </section>
                        <widget-footer>
                            <widget-footer-text></widget-footer-text>
                            <widget-footer-button>
                                <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary" />
                            </widget-footer-button>
                        </widget-footer>
                    </form>
                </div>
                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        <a asp-page="@typeof(District.IndexModel).Page()" asp-route-id="@item.District?.Id" target="_blank">@item.District?.Name</a> &mdash;
                                        @if (!string.IsNullOrEmpty(item.Street))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Street"]: </span>@item.Street<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Alley))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Alley"]: </span>@item.Alley<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Number))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingNumber"]: </span>@item.Number<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.BuildingName))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingName"]: </span>@item.BuildingName<text> &mdash; </text>
                                        }
                                        @if (item.Floor > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["Floor"]: </span>@item.Floor<text> &mdash; </text>
                                        }
                                        @if (item.Flat > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["FlatNumber"]: </span>@item.Flat
                                        }
                                    </b>

                                    <a asp-page="@typeof(Category.IndexModel).Page()" asp-route-propertyCat="@item.Category.ToString()" class="badge badge-primary">@item.Category?.Name</a>
                                    @if (item.CurrentPropertyOwnership?.Ownerships?.Any() != true)
                                    {
                                        <span class="badge badge-dark">مالک ثبت نشده است</span>
                                    }
                                    else
                                    {
                                        if (item.CurrentPropertyOwnership.Ownerships.Sum(x => x.Dong) != 6)
                                        {
                                            <span class="badge badge-dark">خطا در ثبت تعداد دانگ ها</span>
                                        }
                                    }
                                </span>
                                @if (item.CurrentPropertyOwnership?.Ownerships?.Any() == true)
                                {
                                    <span>
                                        @foreach (var owner in item.CurrentPropertyOwnership.Ownerships)
                                        {
                                            <a asp-page="@typeof(Contact.IndexModel).Page()" asp-route-id="@owner.Id" target="_blank" class="badge badge-danger">@SharedLocalizer["Owner"]: @owner.Contact.Name - @owner.Contact?.Mobile - @owner.Dong @SharedLocalizer["Dong"]</a>
                                        }
                                    </span>
                                }
                                @if (item.PropertyFacilities?.Any() == true || item.PropertyFeatures?.Any() == true)
                                {
                                    <span>
                                        @if (item.PropertyFacilities?.Any() == true)
                                        {
                                            foreach (var facility in item.PropertyFacilities)
                                            {
                                                <span class="badge badge-secondary">@facility.Facility?.Name</span>
                                            }
                                        }
                                        @if (item.PropertyFeatures?.Any() == true)
                                        {
                                            foreach (var feature in item.PropertyFeatures)
                                            {
                                                <span class="badge badge-success">@feature.Feature?.Name &mdash; @feature.Value</span>
                                            }
                                        }
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <span class="text-gray text-justify description">
                                        @item.Description
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="PropertyAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                        {
                            <vc:log logs="@item.Logs" />
                        }
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>