@model LogDetailViewModel

@if (Model != null)
{
    <text>
        <b>@SharedLocalizer[Model.Type.GetDisplayName()]:</b>
        @Model.DateTime.GregorianToPersian(false, true)
        @SharedLocalizer["By"]
        <a asp-page="@typeof(RealEstate.Web.Pages.Manage.User.IndexModel).Page()" asp-route-userId="@Model.UserId" target="_blank">@Model.UserFullName</a>
    </text>
}