@model LogDetailViewModel

@if (Model != null)
{
    var dt = new PersianDateTime(Model.DateTime);
    <text>
        <b>@SharedLocalizer[Model.Type.GetDisplayName()]:</b>
        @dt.ToRelativeString()
        @SharedLocalizer[SharedResource.By]
        <a asp-page="@typeof(RealEstate.Web.Pages.Manage.User.IndexModel).Page()" asp-route-userId="@Model.UserId" target="_blank">@Model.UserFullName</a>
    </text>
}