@page
@model AddModel
@{
    var divisions = await DivisionService.ListAsync();
    var divisionsSelect = divisions?.Select(x => new SelectListItem
    {
        Text = x.Name,
        Value = x.Id,
    }).SelectFirstItem();
}
<form method="post" class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle"></widget-header>
        <input asp-for="NewEmployee.Id" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-sm margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.FirstName" class="control-label"></label>
                        <input asp-for="NewEmployee.FirstName" class="form-control" />
                        <span asp-validation-for="NewEmployee.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.LastName" class="control-label"></label>
                        <input asp-for="NewEmployee.LastName" class="form-control" />
                        <span asp-validation-for="NewEmployee.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.Mobile" class="control-label"></label>
                        <input asp-for="NewEmployee.Mobile" class="form-control" />
                        <span asp-validation-for="NewEmployee.Mobile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.FixedSalary" class="control-label"></label>
                        <input asp-for="NewEmployee.FixedSalary" class="form-control" />
                        <span asp-validation-for="NewEmployee.FixedSalary" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.Insurance" class="control-label"></label>
                        <input asp-for="NewEmployee.Insurance" class="form-control" />
                        <span asp-validation-for="NewEmployee.Insurance" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">

                <div class="col-12 col-md-6 margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.Phone" class="control-label"></label>
                        <input asp-for="NewEmployee.Phone" class="form-control" />
                        <span asp-validation-for="NewEmployee.Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 margin-bottomed">
                    <div class="input-wrapper">
                        <label asp-for="NewEmployee.Address" class="control-label"></label>
                        <input asp-for="NewEmployee.Address" class="form-control" />
                        <span asp-validation-for="NewEmployee.Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            @if (divisions?.Any() == true)
            {
                <div class="row justify-content-center align-items-center margin-bottomed">
                    <div class="col-12" id="divisions">
                        <input asp-for="NewEmployee.DivisionsJson" />
                        <div class="itemShow adder input-wrapper">
                            <label class="control-label" for="txtDivisions">@SharedLocalizer["Divisions"]</label>
                            <select asp-items="divisionsSelect" class="custom-select" id="txtDivisions"></select>
                            <button type="button" class="btn btn-sm btn-success" id="addDivisions">@SharedLocalizer["Add"]</button>
                        </div>
                        <div class="items hidden"></div>
                    </div>
                </div>
            }
        </section>
        <footer>
            <submit full-width="true" />
            <status>
                @Model.Status
            </status>
        </footer>
    </div>
</form>
@section Scripts
    {
    <script>
        $(document).ready(function() {

            const jsonInput = $("#@nameof(Model.NewEmployee)_@nameof(Model.NewEmployee.DivisionsJson)");
            const selectInput = $("#txtDivisions");
            const wrapperClass = $("#divisions");
            const submitInput = $("#addDivisions");
            const itemSelector = "division-item";

            $(jsonInput).change(function() {

                const adder = $("> .adder", wrapperClass);
                const items = $("> .items", wrapperClass);
                $(items).empty();

                const json = $(jsonInput).val();
                if (json === "" || json === null) {
                    $(jsonInput).val("[]");
                }
                const jsonObject = $.parseJSON(json === "" ? "[]" : json);

                if (jsonObject.length > 0) {
                    $(items).removeClass("hidden");
                } else {
                    $(items).addClass("hidden");
                }

                $.each(jsonObject,
                    (index, item) => {

                        const id = item.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId));
                        const name = item
                            .@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.Name));

                        const anchor = document.createElement("a");
                        $(anchor).attr("href", "#");
                        $(anchor).attr("data-id", id);
                        $(anchor).addClass(itemSelector);
                        $(anchor).attr("data-confirm", "@Html.Raw(SharedLocalizer["AreYouSureToDoThisRequest"])");

                        const nameElement = document.createElement("span");
                        $(nameElement).html(name);

                        $(anchor).append(nameElement);
                        $(items).append(anchor);

                    });

                $.each(selectInput.children(),
                    (index, item) => {
                        const id = $(item).val();
                        const i = jsonObject.findIndex(obj => obj.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) === id);
                        if (i >= 0) {
                            $(item).addClass("hidden");
                        } else {
                            $(item).removeClass("hidden");
                        }

                    });

                if ($('option:not(.hidden)', selectInput).length > 0) {
                    $('option:not(.hidden):eq(0)', selectInput).prop('selected', true);
                    $(adder).fadeIn("slow");
                } else {
                    $(adder).fadeOut("slow");
                }

            });

            $(submitInput).click(function(e) {
                let selected = $(selectInput).find('option:selected:eq(0)')[0];
                if (selected === undefined || selected === null) {
                    selected = $(selectInput).find('option:eq(0)')[0];
                }
                const keyId = $(selected).attr("value");
                const keyName = $(selected).text();

                if (keyId === undefined || keyId === null)
                    return;

                const newItem = {
                    @(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)): keyId,
                    @(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.Name)): keyName
                };

                addJson(jsonInput,
                    newItem,
                    obj => obj.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) ===
                    newItem.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)));

            });

            $(document).on("click",
                `.${itemSelector}`,
                function (e) {
                    const keyId = $(this).attr("data-id");
                    console.log("KeyId", keyId);

                    const jsonValue = $.parseJSON($(jsonInput).val());
                    console.log("JsonValue", jsonValue);

                    const index =
                        jsonValue.findIndex(prop => prop
                            .@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) ===
                            keyId);
                    console.log("Index", index);

                    removeJson(jsonInput, index);
                    $(this).remove();
                    console.log("Button Triggered to Remove Item", this);
                });

            $(jsonInput).trigger("change");

        });
    </script>
}