@page
@model IndexModel
@{
    var condition = Model.SearchInput.IsUnderCondition();
}
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewEmployee"]</a>
        </widget-header>
        <section class="container-fluid">
            <form method="post">
                <div class="row justify-content-center align-items-center margin-bottomed">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#search">
                                    @SharedLocalizer["Search"]
                                </a>
                                <a class="card-link clearSearch" asp-page="@typeof(IndexModel).Page()">
                                    @SharedLocalizer["ClearSearch"]
                                </a>
                            </div>
                            <div id="search" class="collapse @(condition ? "show" : "")">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <input asp-for="SearchInput.PageNo" />
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.FirstName"></label>
                                                <input asp-for="SearchInput.FirstName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.LastName"></label>
                                                <input asp-for="SearchInput.LastName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Mobile"></label>
                                                <input asp-for="SearchInput.Mobile" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-xs-12 col-md-4 margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Phone"></label>
                                                <input asp-for="SearchInput.Phone" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Address"></label>
                                                <input asp-for="SearchInput.Address" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        @if (User.IsInRole(Role.Admin.ToString()) || User.IsInRole(Role.SuperAdmin.ToString()))
                                        {
                                            <div class="col-12">
                                                <div class="custom-control custom-switch input-wrapper" dir="ltr">
                                                    <input type="checkbox" class="custom-control-input" asp-for="SearchInput.IncludeDeletedItems">
                                                    <label class="custom-control-label" asp-for="SearchInput.IncludeDeletedItems"></label>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-12">
                                            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @if (Model.List.Items?.Any() == true)
            {
                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Activate"] : SharedLocalizer["Deactivate"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @item.FirstName @item.LastName
                                    </b>
                                    @if (!string.IsNullOrEmpty(item.Mobile))
                                    {
                                        <span class="badge badge-secondary">@item.Mobile</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Phone))
                                    {
                                        <span class="badge badge-secondary">@item.Phone</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Address))
                                    {
                                        <span class="badge badge-success"><b>@SharedLocalizer["Address"]:</b> @item.Address</span>
                                    }
                                    @if (item.CurrentInsurance?.Price > 0)
                                    {
                                        <span class="badge badge-warning"><b>مبلغ بیمه:</b> @item.CurrentInsurance.Price</span>

                                    }
                                    @if (item.CurrentFixedSalary?.Value > 0)
                                    {
                                        <span class="badge badge-warning"><b>حقوق ثابت:</b> @item.CurrentFixedSalary.Value</span>

                                    }
                                </span>
                                @if (item.EmployeeDivisions?.Any() == true)
                                {
                                    <span>
                                        @SharedLocalizer["Divisions"]:
                                        @foreach (var division in item.EmployeeDivisions)
                                        {
                                            <a asp-page="@typeof(Manage.Division.IndexModel).Page()" asp-route-id="@division.Division.Id" target="_blank" class="badge badge-primary">@division.Division?.Name</a>
                                        }
                                    </span>

                                }
                                @if (item.Users?.Any() == true)
                                {
                                    <span>
                                        @SharedLocalizer["Users"]:
                                        @foreach (var user in item.Users)
                                        {
                                            <a asp-page="@typeof(Manage.User.IndexModel).Page()" asp-route-id="@user.Id" target="_blank" class="badge badge-primary">@user.Username</a>
                                        }
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>

                                    if (User.Identity.Name != item.CurrentUser?.Username)
                                    {
                                        <a asp-controller="Remove" asp-action="EmployeeAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>