@page
@model IndexModel
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer[SharedResource.NewEmployee]</a>
        </widget-header>
        <section class="container-fluid">
            <form method="post">
                <div class="row justify-content-center align-items-center margin-bottomed">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#search">
                                    @SharedLocalizer["Search"]
                                </a>
                                <a class="card-link clearSearch" asp-page="@typeof(IndexModel).Page()">
                                    @SharedLocalizer["ClearSearch"]
                                </a>
                            </div>
                            <div id="search" class="collapse @(Model.SearchInput.IsUnderCondition ? "show" : "")">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <input asp-for="SearchInput.PageNo" />
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.FirstName"></label>
                                                <input asp-for="SearchInput.FirstName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.LastName"></label>
                                                <input asp-for="SearchInput.LastName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Mobile"></label>
                                                <input asp-for="SearchInput.Mobile" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-xs-12 col-md-4 margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Phone"></label>
                                                <input asp-for="SearchInput.Phone" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Address"></label>
                                                <input asp-for="SearchInput.Address" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <vc:admin-search-condition model="@Model.SearchInput" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @if (Model.List.Items?.Any() == true)
            {
                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer[SharedResource.Activate] : SharedLocalizer[SharedResource.Deactivate];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @item.FirstName @item.LastName
                                    </b>
                                </span>
                                <span>
                                    @SharedLocalizer[SharedResource.ContactWay]
                                    <ul class="info-breadcrumb">
                                        @if (!string.IsNullOrEmpty(item.Mobile))
                                        {
                                            <li>
                                                <a href="tel:@item.Mobile">
                                                    @item.Mobile
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Phone))
                                        {
                                            <li>
                                                <a href="tel:@item.Phone">
                                                    @item.Phone
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Address))
                                        {
                                            <li>
                                                @item.Address
                                            </li>
                                        }
                                    </ul>
                                </span>
                                <span>
                                    @SharedLocalizer[SharedResource.Advantages]:
                                    <ul class="info-breadcrumb">
                                        <li>
                                            <b>@SharedLocalizer[SharedResource.Insurance]:</b> @((item.CurrentInsurance()?.Price ?? 0).ToString().CurrencyToWords()) تومان
                                        </li>
                                        <li>
                                            <b>@SharedLocalizer[SharedResource.FixedSalary]:</b> @((item.CurrentFixedSalary()?.Value ?? 0).ToString().CurrencyToWords()) تومان
                                        </li>
                                    </ul>
                                </span>
                                @if (item.EmployeeDivisions.Value?.Any() == true)
                                {
                                    <span>
                                        @SharedLocalizer[SharedResource.Divisions]:
                                        <ul class="info-breadcrumb">
                                            @foreach (var employeeDivision in item.EmployeeDivisions.Value)
                                            {
                                                var value = employeeDivision.Division.Value;
                                                <li>
                                                    <a asp-page="@typeof(Manage.Division.IndexModel).Page()" asp-route-id="@value?.Id" target="_blank">@value?.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </span>

                                }
                                @if (item.Users.Value?.Any() == true)
                                {
                                    <span>
                                        @SharedLocalizer[SharedResource.Users]:
                                        <ul class="info-breadcrumb">
                                            @foreach (var user in item.Users.Value)
                                            {
                                                <li>
                                                    <a asp-page="@typeof(Manage.User.IndexModel).Page()" asp-route-id="@user.Id" target="_blank">@user.Username</a>
                                                </li>
                                            }
                                        </ul>
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()))
                                {
                                    <a asp-page="@typeof(DetailModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-primary @disabledClass">@SharedLocalizer[SharedResource.Detail]</a>
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer[SharedResource.Edit]</a>

                                    if (User.Identity.Name != item.CurrentUser()?.Username)
                                    {
                                        <a asp-controller="Remove" asp-action="EmployeeAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer[SharedResource.AreYouSureToDoThisRequest]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                    }
                                }
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="Employee" id="@item.Id" />
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>