@page
@model IndexModel
<status>
    @Model.Status
</status>
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer[SharedResource.NewEmployee]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows" />
        </section>
        <section class="container-fluid" id="paginatedList">
            <item-viewer model="@Model.List" />
        </section>
        <section class="container-fluid">
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>

<search-modal searchModel="@Model.SearchInput">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.FirstName"></label>
                <input asp-for="SearchInput.FirstName" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.LastName"></label>
                <input asp-for="SearchInput.LastName" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Mobile"></label>
                <input asp-for="SearchInput.Mobile" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Phone"></label>
                <input asp-for="SearchInput.Phone" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Address"></label>
                <input asp-for="SearchInput.Address" class="form-control" />
            </div>
        </div>
    </div>
</search-modal>