<!DOCTYPE html>
<html lang="fa">
<head>

    <partial name="Config/_Head" />
    <title>@SharedLocalizer["AppName"] :: @ViewData["PageTitle"]</title>
    <partial name="Config/_Styles" />
    @RenderSection("Styles", false)
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <mini-profiler />
    <partial name="Config/_NavBar" />
    <main class="container-fluid" role="main">
        <div class="row justify-content-center">
            @RenderBody()
        </div>
    </main>
    <partial name="Config/_Scripts" />

    @RenderSection("Scripts", false)
    <script asp-paste-key="notification"></script>
</body>
</html>