@model JsonSelectorComponentModel
@if (Model?.SelectListItems?.Any() == true)
{
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <div class="widget mini-widget">
                <widget-header title="@Model.Title"></widget-header>
                <section class="container-fluid">
                    <div class="row">
                        <div class="col-12 @Model.WrapperClass">
                            <div class="itemShow adder">
                                <div class="detail">
                                    <div class="info">
                                        <span>
                                            <div class="row">
                                                @{
                                                    var size = !string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId) ? "col-5" : "col-12";
                                                }
                                                <div class="@size">
                                                    <select class="form-control d-inline-block" id="@Model.SelectId" asp-items="@Model.SelectListItems"></select>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                                                {
                                                    <div class="col-7">
                                                        <input type="text" id="@Model.ValueId" class="form-control d-inline-block" />
                                                    </div>
                                                }
                                            </div>
                                        </span>
                                    </div>
                                    <div class="button">
                                        <button type="button" class="btn btn-sm btn-success btn-block" id="@Model.SubmitId">@SharedLocalizer["Submit"]</button>
                                    </div>
                                </div>
                            </div>
                            <div class="items"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script asp-cut-key="@Model.ScriptKey">
        $(document).ready(function() {

            const jsonInput = $("#@Model.JsonInputId");
            const wrapperClass = $(".@Model.WrapperClass");
            const selectInput = $("#@Model.SelectId");
            const submitInput = $("#@Model.SubmitId");
            const itemSelector = "@Model.ItemSelectorClass";
            @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
            {
                <text>
                    const valueInput = $("#@Model.ValueId");
                </text>
            }

            $(jsonInput).change(function() {

                const adder = $("> .adder", wrapperClass);
                const items = $("> .items", wrapperClass);
                $(items).empty();

                if ($(jsonInput).val() === "") {
                    $(jsonInput).val("[]");
                }

                const jsonString = $(jsonInput).val();
                const json = $.parseJSON(jsonString);

                $.each(json,
                    (index, item) => {

                        const key = item.@Model.IdProperty;
                        const name = item.@Model.NameProperty;

                    @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                    {
                        <text>
                        const value = item.@Model.ValueProperty;
                        </text>
                    }

                        const anchor = document.createElement("a");
                        $(anchor).attr("href", "#");
                        $(anchor).attr("data-id", key);
                        $(anchor).addClass("btn btn-warning");
                        $(anchor).addClass(itemSelector);
                        $(anchor).addClass("m-1");
                        $(anchor).attr("data-confirm", "@Html.Raw(SharedLocalizer["AreYouSureToDoThisRequest"])");

                        const nameElement = document.createElement("span");
                        $(nameElement).html(name);

                        @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                        {
                            <text>
                                const badge = document.createElement("span");
                                $(badge).addClass("badge bg-white mr-2");
                                $(badge).html(value);
                            </text>
                        }

                        $(anchor).append(nameElement);
                        $(items).append(anchor);

                    });

                $.each(selectInput.children(),
                    (index, item) => {
                        const name = $(item).text();
                        const key = $(item).val();

                        const i = json.findIndex(
                            obj => obj.@Model.IdProperty === key);
                        if (i >= 0) {
                            $(item).addClass("hidden");
                        } else {
                            $(item).removeClass("hidden");
                        }

                    });

                if ($('option:not(.hidden)', selectInput).length > 0) {
                    $('option:not(.hidden):eq(0)', selectInput).prop('selected', true);
                    $(adder).fadeIn("slow");
                } else {
                    $(adder).fadeOut("slow");
                }
            });

            $(submitInput).click(function(e) {

                if ($(selectInput).children().length > 0) {
                    let selected = $(selectInput).find('option:selected:eq(0)')[0];
                    if (selected === undefined || selected === null) {
                        selected = $(selectInput).find('option:eq(0)')[0];
                    }
                    const keyId = $(selected).attr("value");
                    const keyName = $(selected).text();

                    @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                    {
                        <text>
                            const valueElement = $(valueInput);
                            const value = $(valueElement).val();
                        </text>
                    }

                    if (keyId === undefined || keyId === null)
                        return;

                    @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                        {
                            <text>
                                if (value === null ||
                                    value === undefined ||
                                    value.length <= 0)
                        return;
                            </text>
                        }

                    const newItem = {
                        @Model.IdProperty: keyId,
                        @Model.NameProperty: keyName
                        @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                        {
                            <text>
                            , @Model.ValueProperty: value
                            </text>
                        }
                    };
                addJson(jsonInput, newItem, obj => obj.@Model.IdProperty === newItem.@Model.IdProperty);

                    @if (!string.IsNullOrEmpty(Model.ValueProperty) && !string.IsNullOrEmpty(Model.ValueId))
                        {
                            <text>
                                $(valueElement).val("");
                            </text>
                        }

                }
            });

            $(document).on("click",
                `.${itemSelector}`,
                function (e) {
                    e.preventDefault();
                    removeButtonEvent(jsonInput, this);
                });

            $(jsonInput).trigger("change");

        });
    </script>
}