@model PersonSelectorComplexComponentModel

@if (Model != null)
{
    var parentModelName = Model.ParentModelName;
    var contactSelectorTab = $"{Model.PersonSelector.ModelName}_Tab";
    var creatorForm = $"{Model.PersonCreator.ModelName}_Form";
    var creatorTab = $"{Model.PersonCreator.ModelName}_Tab";
    var submitCreate = $"{Model.PersonCreator.ModelName}_Submit";

    <div id="PersonSelectorComplex">
        <ul class="nav nav-tabs alternative">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#@contactSelectorTab">@SharedLocalizer["SelectOwner"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#@creatorTab">@SharedLocalizer["NewOwner"]</a>
            </li>
        </ul>
        <div class="tab-content stylize alternative">
            @*@if (Model.Include)
                {
                    <input type="hidden" id="@Model.Id" name="@Model.Name" />
                }*@
            <div class="tab-pane active" id="@contactSelectorTab">
                <div class="row justify-content-center align-items-center title">
                    <div class="col-12">
                        <h6>@SharedLocalizer["IfYouAlreadyCreatePerson"]</h6>
                    </div>
                </div>
                <vc:person-selector model="@Model.PersonSelector" />
            </div>
            <div class="tab-pane fade" id="@creatorTab">
                <div class="row justify-content-center align-items-center title">
                    <div class="col-12">
                        <h6>@SharedLocalizer["IfYouWantToCreatePerson"]</h6>
                    </div>
                </div>
                <form method="post" id="@creatorForm">
                    @*<vc:person-creator model="@Model.PersonCreator" />*@
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <button type="button" id="@submitCreate" class="btn btn-success btn-block btn-sm">@SharedLocalizer["Submit"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}