@page
@model IndexModel

<status>
    @Model.Status
</status>
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer[SharedResource.NewReminder]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows" />
        </section>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center text-right margin-bottomed">
                <div class="col-12">
                    <h6>رنگ زرد: فردا</h6>
                    <h6>رنگ سبز: امروز</h6>
                </div>
            </div>
        </div>
        <section class="container-fluid" id="paginatedList">
            <item-viewer model="@Model.List" />
        </section>
        <section class="container-fluid">
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>
<search-modal searchModel="@Model.SearchInput">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Subject"></label>
                <input asp-for="SearchInput.Subject" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.CheckBank"></label>
                <input asp-for="SearchInput.CheckBank" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.CheckNumber"></label>
                <input asp-for="SearchInput.CheckNumber" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Price"></label>
                <input type="tel" asp-for="SearchInput.Price" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.FromDate"></label>
                <input asp-for="SearchInput.FromDate" placeholder="@DateTime.Now.GregorianToPersian(true)" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.ToDate"></label>
                <input asp-for="SearchInput.ToDate" placeholder="@DateTime.Now.GregorianToPersian(true)" class="form-control" />
            </div>
        </div>
    </div>
</search-modal>
@section Styles
{
    <link rel="stylesheet" href="~/css/jquery.bsPhotoGallery-min.css" asp-append-version="true" />
}
@section Scripts
{
    <script src="~/js/jquery.bsPhotoGallery-min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.gallery').bsPhotoGallery({
                "classes": "",
                "hasModal": true
            });
        });
    </script>
}