@page
@model IndexModel

<div class="col-12">
    <status>
        @Model.Status
    </status>
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewReminder"]</a>
        </widget-header>
        <section class="container-fluid">
            <item-viewer model="@Model.List.Items">
                @foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @if (item.IsCheck)
                                        {
                                            <text>
                                                @SharedLocalizer["Bank"]: @item.CheckBank
                                                <br/>
                                                @SharedLocalizer["CheckNumber"]: @item.CheckNumber
                                                <br/>
                                                @SharedLocalizer["Price"]: @item.Price.ToString("#,###") تومان
                                            </text>
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    </b>
                                    <span class="badge badge-primary">@item.Date.GregorianToPersian(true)</span>
                                </span>
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="ReminderAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="Reminder" id="@item.Id"/>
                    </div>
                }
            </item-viewer>
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>