@model PropertySelectorComplexComponentModel
@if (Model != null)
{
    var parentModelName = Model.ParentModelName;
    var propertySelectorTab = $"{parentModelName}_Property";

    var propertyCreatorId = "PCtor";

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#@propertySelectorTab">@SharedLocalizer["SelectProperty"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#NewPropertyComplex">@SharedLocalizer["NewProperty"]</a>
        </li>
    </ul>
    <div class="tab-content stylize">
        <div class="tab-pane active" id="@propertySelectorTab">
            <div class="row justify-content-center align-items-center title">
                <div class="col-12">
                    <h6>@SharedLocalizer["IfYouAlreadyCreateProperty"]</h6>
                </div>
            </div>
            <vc:property-selector model="@Model.PropertySelector" />
        </div>
        <div class="tab-pane fade" id="NewPropertyComplex">
            <div class="row justify-content-center align-items-center title">
                <div class="col-12">
                    <h6>@SharedLocalizer["IfYouWantToCreateProperty"]</h6>
                </div>
            </div>
            <form method="post" id="@Model.PropertyCreator.PersonCreator.FormId">
                <vc:person-creator model="@Model.PropertyCreator.PersonCreator" />
            </form>

            <form method="post" id="@Model.PropertyCreator.FormId">
                <vc:property-creator model="@Model.PropertyCreator" />
            </form>
        </div>
    </div>

}