@page
@model IndexModel

<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle" />
        <section class="container-fluid">
            <item-viewer model="@Model.List.Items">
                @foreach (var item in Model.List.Items)
                {
                    <div class="row justify-content-center itemShow">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @item.Receiver
                                    </b>
                                    <span class="badge badge-primary">@item.ReferenceId</span>
                                </span>
                                <span>
                                    @item.Text
                                </span>
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="Sms" id="@item.Id" />
                    </div>
                }
            </item-viewer>
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>