@page
@model IndexModel
@{
    var featuresList = await FeatureService.FeatureListAsync(FeatureTypeEnum.Item, FeatureTypeEnum.Property).ConfigureAwait(false);
    var features = featuresList?.Select(x => new SelectListItem
    {
        Value = x.Name,
        Text = x.Name
    }).ToList().AddNone();

    var categorieslist = await FeatureService.CategoryListAsync(CategoryTypeEnum.Item, true).ConfigureAwait(false);
    var categories = categorieslist?.Select(x => new SelectListItem
    {
        Value = x.Id,
        Text = x.Name
    }).ToList().AddNone();
}
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewItem"]</a>
        </widget-header>
        <section class="container-fluid">
            <form method="post">
                <div class="row justify-content-center align-items-center margin-bottomed">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#search">
                                    @SharedLocalizer["Search"]
                                </a>
                                <a class="card-link clearSearch" asp-page="@typeof(IndexModel).Page()">
                                    @SharedLocalizer["ClearSearch"]
                                </a>
                            </div>
                            <div id="search" class="collapse">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center">
                                        <input asp-for="SearchInput.PageNo" />
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Owner"></label>
                                                <input asp-for="SearchInput.Owner" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.Address"></label>
                                                <input asp-for="SearchInput.Address" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.CategoryId"></label>
                                                <select asp-items="categories" asp-for="SearchInput.CategoryId" class="custom-select"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.FeatureName"></label>
                                                <select asp-items="features" asp-for="SearchInput.FeatureName" class="custom-select"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.FromValue"></label>
                                                <input asp-for="SearchInput.FromValue" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md margin-bottomed">
                                            <div class="input-wrapper">
                                                <label class="control-label" asp-for="SearchInput.ToValue"></label>
                                                <input asp-for="SearchInput.ToValue" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-12">
                                            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            @if (Model.List.Items?.Any() == true)
            {

                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <a asp-page="@typeof(Property.IndexModel).Page()" class="title" asp-route-id="@item.Property.Id" target="_blank">
                                        <a asp-page="@typeof(District.IndexModel).Page()" asp-route-id="@item.Property.District.Id" target="_blank">@item.Property.District.Name</a> &mdash;
                                        @if (!string.IsNullOrEmpty(item.Property.Street))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Street"]: </span>@item.Property.Street<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.Alley))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Alley"]: </span>@item.Property.Alley<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.Number))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingNumber"]: </span>@item.Property.Number<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.BuildingName))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingName"]: </span>@item.Property.BuildingName<text> &mdash; </text>
                                        }
                                        @if (item.Property.Floor > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["Floor"]: </span>@item.Property.Floor<text> &mdash; </text>
                                        }
                                        @if (item.Property.Flat > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["Flat"]: </span>@item.Property.Flat
                                        }
                                    </a>
                                    <span class="badge badge-danger">@item.Category?.Name</span>
                                    <a asp-page="@typeof(Property.IndexModel).Page()" asp-route-propertyId="@item.Property.Id" target="_blank" class="badge badge-warning">@SharedLocalizer["PropertyDetail"]</a>
                                </span>
                                @if (item.Property.CurrentPropertyOwnership?.Ownerships?.Any() == true)
                                {
                                    <span>
                                        @foreach (var ownership in item.Property.CurrentPropertyOwnership.Ownerships)
                                        {
                                            <a asp-page="@typeof(Customer.IndexModel).Page()" asp-route-ownerId="@ownership.Id" target="_blank" class="badge badge-warning">@ownership.Customer.Name &mdash; @ownership.Customer.Mobile</a>
                                        }
                                    </span>
                                }

                                @if (item.ItemFeatures?.Any() == true)
                                {
                                    <span>
                                        @foreach (var feature in item.ItemFeatures)
                                        {
                                            string postfix;
                                            if (feature.Feature.Name.Contains("قیمت"))
                                            {
                                                postfix = " تومان";
                                            }
                                            else if (feature.Feature.Name.Equals("متراژ"))
                                            {
                                                postfix = " متر";
                                            }
                                            else
                                            {
                                                postfix = null;
                                            }
                                            <text>
                                                <span class="badge badge-secondary">@feature.Feature?.Name &mdash; @feature.Value @postfix</span>
                                            </text>
                                        }
                                    </span>

                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <span class="text-gray text-justify description">
                                        @item.Description
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @*@if (item.LastState != DealStatusEnum.Requested)
                                {
                                    <a asp-page="@typeof(RequestModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-success" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]">@SharedLocalizer["DealRequest"]</a>
                                }*@
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="ItemAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                        {
                            <vc:log logs="@item.Logs" />
                        }
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>