@page
@model IndexModel
@{
    var categorieslist = await FeatureService.CategoryListAsync(CategoryTypeEnum.Item, true).ConfigureAwait(false);
    var categories = categorieslist?.Select(x => new SelectListItem
    {
        Value = x.Id,
        Text = x.Name
    }).ToList().AddNone();
}
<div class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer["NewItem"]</a>
        </widget-header>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center margin-bottomed">
            </div>
            @if (Model.List.Items?.Any() == true)
            {
                <div class="row justify-content-center align-items-center margin-bottomed">
                    <div class="col-12">
                        <form method="post" class="widget mini-widget bg-white">
                            <widget-header title="@SharedLocalizer["Search"]"></widget-header>
                            <section class="container-fluid margin-bottomed">
                                <div class="row">
                                    <div class="col-6 margin-bottomed">
                                        <label class="control-label" asp-for="SearchInput.Owner"></label>
                                        <input asp-for="SearchInput.Owner" class="form-control" />
                                    </div>
                                    <div class="col-6 margin-bottomed">
                                        <label class="control-label" asp-for="SearchInput.CategoryId"></label>
                                        <select asp-items="categories" asp-for="SearchInput.CategoryId" class="form-control"></select>
                                    </div>
                                    <div class="col-12 margin-bottomed">
                                        <label class="control-label" asp-for="SearchInput.Address"></label>
                                        <input asp-for="SearchInput.Address" class="form-control" />
                                    </div>
                                </div>
                            </section>
                            <widget-footer>
                                <widget-footer-text></widget-footer-text>
                                <widget-footer-button>
                                    <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary" />
                                </widget-footer-button>
                            </widget-footer>
                        </form>
                    </div>
                </div>
                foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];
                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <a asp-page="@typeof(Property.IndexModel).Page()" class="title" asp-route-id="@item.Property.Id" target="_blank">
                                        <a asp-page="@typeof(District.IndexModel).Page()" asp-route-id="@item.Property.District.Id" target="_blank">@item.Property.District.Name</a> &mdash;
                                        @if (!string.IsNullOrEmpty(item.Property.Street))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Street"]: </span>@item.Property.Street<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.Alley))
                                        {
                                            <span class="text-gray">@SharedLocalizer["Alley"]: </span>@item.Property.Alley<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.Number))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingNumber"]: </span>@item.Property.Number<text> &mdash; </text>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Property.BuildingName))
                                        {
                                            <span class="text-gray">@SharedLocalizer["BuildingName"]: </span>@item.Property.BuildingName<text> &mdash; </text>
                                        }
                                        @if (item.Property.Floor > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["Floor"]: </span>@item.Property.Floor<text> &mdash; </text>
                                        }
                                        @if (item.Property.Flat > 0)
                                        {
                                            <span class="text-gray">@SharedLocalizer["Flat"]: </span>@item.Property.Flat
                                        }
                                    </a>
                                    <span class="badge badge-danger">@item.Category?.Name</span>
                                    <a asp-page="@typeof(Property.IndexModel).Page()" asp-route-propertyId="@item.Property.Id" target="_blank" class="badge badge-warning">@SharedLocalizer["PropertyDetail"]</a>
                                </span>
                                @if (item.Property.CurrentPropertyOwnership?.Ownerships?.Any() == true)
                                {
                                    <span>
                                        @foreach (var ownership in item.Property.CurrentPropertyOwnership.Ownerships)
                                        {
                                            <a asp-page="@typeof(Contact.IndexModel).Page()" asp-route-ownerId="@ownership.Id" target="_blank" class="badge badge-warning">@ownership.Contact.Name &mdash; @ownership.Contact.Mobile</a>
                                        }
                                    </span>
                                }

                                @if (item.Features?.Any() == true)
                                {
                                    <span>
                                        @foreach (var spec in item.Features)
                                        {
                                            <text>
                                                <span class="badge badge-secondary">@spec.Feature?.Name &mdash; @spec.Value</span>
                                            </text>
                                        }
                                    </span>

                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <span class="text-gray text-justify description">
                                        @item.Description
                                    </span>
                                }
                            </div>
                            <div class="button">
                                @if (!item.IsRequested)
                                {
                                    <a asp-page="@typeof(RequestModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-success" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]">@SharedLocalizer["ItemRequest"]</a>
                                }
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    <a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>
                                    <a asp-controller="Remove" asp-action="ItemAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                        {
                            <vc:log logs="@item.Logs" />
                        }
                    </div>
                }

            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h5>
                        @SharedLocalizer["NoItemToShow"]
                    </h5>
                </div>
            }
            <vc:pagination model="@Model.List"></vc:pagination>
        </section>
    </div>
</div>