@page
@model AddModel
@{
    var roles = SelectItemExtensions.ToSelectList(Role.User, role => role != Role.SuperAdmin);
    var propertyCategories = await FeatureService.CategoryListAsync(CategoryTypeEnum.Property, false).ConfigureAwait(false);
    var itemCategories = await FeatureService.CategoryListAsync(CategoryTypeEnum.Item, false).ConfigureAwait(false);
    var employees = await EmployeeService.ListAsync(true).ConfigureAwait(false);

    var propertyCategorySelect = propertyCategories?.Select(x => new SelectListItem
    {
        Text = x.Name,
        Value = x.Id,
    }).SelectFirstItem();

    var itemCategorySelect = itemCategories?.Select(x => new SelectListItem
    {
        Text = x.Name,
        Value = x.Id,
    }).SelectFirstItem();

    var emploo = employees?.Select(x => new SelectListItem
    {
        Text = $"{x.FirstName} {x.LastName}",
        Value = x.Id
    }).SelectFirstItem();
}

<form method="post" class="col-12">
    <div class="status-message @(Model.Status == StatusEnum.Ready ? "hidden" : "")" asp-validation-summary="All">
        @Model.Status.GetDisplayName()
    </div>
    <div class="widget">
        <widget-header title="@Model.PageTitle"></widget-header>
        <input asp-for="NewUser.Id" />
        <section class="container-fluid">

            <div class="row justify-content-center align-items-center">
                @if (Model.NewUser == null)
                {
                    <div class="col-xs-12 col-md">
                        <div class="input-wrapper">
                            @if (employees?.Any() != true)
                            {
                                <text>
                                    <b class="text-danger">
                                        تمام کارمندان، شناسه کاربری دارند.
                                    </b>
                                </text>
                            }
                            else
                            {
                                <label asp-for="NewUser.EmployeeId" class="control-label"></label>
                                <select asp-for="NewUser.EmployeeId" asp-items="emploo" class="custom-select"></select>
                                <span asp-validation-for="NewUser.EmployeeId" class="text-danger"></span>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="NewUser.EmployeeId" />
                }
                @if (Model.NewUser?.Username != User.Identity.Name)
                {
                    <div class="col-xs-12 col-md">
                        <div class="input-wrapper">
                            <label asp-for="NewUser.Role" class="control-label"></label>
                            <select asp-for="NewUser.Role" asp-items="roles" class="custom-select"></select>
                            <span asp-validation-for="NewUser.Role" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="NewUser.Role" type="hidden" />
                }
            </div>

            <div class="row justify-content-center align-items-center">
                @if (Model.NewUser == null)
                {
                    <div class="col-xs-12 col-md">
                        <div class="input-wrapper">
                            <label asp-for="NewUser.Username" class="control-label"></label>
                            <input asp-for="NewUser.Username" class="form-control" />
                            <span asp-validation-for="NewUser.Username" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="NewUser.Username" type="hidden" />
                }
                <div class="col-xs-12 col-md">
                    <div class="input-wrapper">
                        <label asp-for="NewUser.Password" class="control-label"></label>
                        <input asp-for="NewUser.Password" class="form-control" />
                        <span asp-validation-for="NewUser.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @if (User.IsInRole(Role.Admin.ToString()) || User.IsInRole(Role.SuperAdmin.ToString()))
            {
                <hr />
                if (propertyCategories?.Any() == true)
                {
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12" id="propertyCategories">
                            <input asp-for="NewUser.UserPropertyCategoriesJson" />
                            <div class="itemShow adder input-wrapper">
                                <label class="control-label full-line" for="txtPropertyCategories">@SharedLocalizer["UserPropertyCategories"]</label>
                                <select asp-items="propertyCategorySelect" class="custom-select" id="txtPropertyCategories"></select>
                                <button type="button" class="btn btn-sm btn-success" id="addPropertyCategory">@SharedLocalizer["Add"]</button>
                            </div>
                            <div class="items hidden"></div>
                        </div>
                    </div>
                }
                if (itemCategories?.Any() == true)
                {
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12" id="itemCategories">
                            <input asp-for="NewUser.UserItemCategoriesJson" />
                            <div class="itemShow adder input-wrapper">
                                <label class="control-label full-line" for="txtItemCategories">@SharedLocalizer["UserItemCategories"]</label>
                                <select asp-items="itemCategorySelect" class="custom-select" id="txtItemCategories"></select>
                                <button type="button" class="btn btn-sm btn-success" id="addItemCategory">@SharedLocalizer["Add"]</button>
                            </div>
                            <div class="items hidden"></div>
                        </div>
                    </div>
                }
            }
            else
            {
                <hr />
                if (Model.NewUser.UserItemCategories?.Any() == true)
                {

                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <div class="itemShow adder input-wrapper">
                                <label class="control-label full-line" for="txtItemCategories">@SharedLocalizer["UserItemCategories"]</label>
                            </div>
                            <div class="items">
                                @foreach (var itemCategory in Model.NewUser.UserItemCategories)
                                {
                                    <a href="#">
                                        <span>@itemCategory.Name</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
                if (Model.NewUser.UserPropertyCategories?.Any() == true)
                {

                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <div class="itemShow adder input-wrapper">
                                <label class="control-label full-line" for="txtItemCategories">@SharedLocalizer["UserPropertyCategories"]</label>
                            </div>
                            <div class="items">
                                @foreach (var propertyCategory in Model.NewUser.UserPropertyCategories)
                                {
                                    <a href="#">
                                        <span>@propertyCategory.Name</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }

            }
        </section>
        <footer>
            <input type="submit" value="@SharedLocalizer["Submit"]" class="btn-success btn-block" />
        </footer>
    </div>
</form>

@section Scripts
    {
    <script>
        $(document).ready(function() {

            const jsonInput = $("#@nameof(Model.NewUser)_@nameof(Model.NewUser.UserItemCategoriesJson)");
            const selectInput = $("#txtItemCategories");
            const wrapperClass = $("#itemCategories");
            const submitInput = $("#addItemCategory");
            const itemSelector = "item-item";

            $(jsonInput).change(function() {

                const adder = $("> .adder", wrapperClass);
                const items = $("> .items", wrapperClass);
                $(items).empty();

                const json = $(jsonInput).val();
                if (json === "" || json === null) {
                    $(jsonInput).val("[]");
                }
                const jsonObject = $.parseJSON(json === "" ? "[]" : json);

                if (jsonObject.length > 0) {
                    $(items).removeClass("hidden");
                } else {
                    $(items).addClass("hidden");
                }

                $.each(jsonObject,
                    (index, item) => {

                        const id = item.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId));
                        const name = item
                            .@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.Name));

                        const anchor = document.createElement("a");
                        $(anchor).attr("href", "#");
                        $(anchor).attr("data-id", id);
                        $(anchor).addClass(itemSelector);
                        $(anchor).attr("data-confirm", "@Html.Raw(SharedLocalizer["AreYouSureToDoThisRequest"])");

                        const nameElement = document.createElement("span");
                        $(nameElement).html(name);

                        $(anchor).append(nameElement);
                        $(items).append(anchor);

                    });

                $.each(selectInput.children(),
                    (index, item) => {
                        const id = $(item).val();
                        const i = jsonObject.findIndex(obj => obj.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) === id);
                        if (i >= 0) {
                            $(item).addClass("hidden");
                        } else {
                            $(item).removeClass("hidden");
                        }

                    });

                if ($('option:not(.hidden)', selectInput).length > 0) {
                    $('option:not(.hidden):eq(0)', selectInput).prop('selected', true);
                    $(adder).fadeIn("slow");
                } else {
                    $(adder).fadeOut("slow");
                }

            });

            $(submitInput).click(function(e) {
                let selected = $(selectInput).find('option:selected:eq(0)')[0];
                if (selected === undefined || selected === null) {
                    selected = $(selectInput).find('option:eq(0)')[0];
                }
                const keyId = $(selected).attr("value");
                const keyName = $(selected).text();

                if (keyId === undefined || keyId === null)
                    return;

                const newItem = {
                    @(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)): keyId,
                    @(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.Name)): keyName
                };

                addJson(jsonInput,
                    newItem,
                    obj => obj.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) ===
                    newItem.@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)));

            });

            $(document).on("click",
                `.${itemSelector}`,
                function (e) {
                    const keyId = $(this).attr("data-id");
                    console.log("KeyId", keyId);

                    const jsonValue = $.parseJSON($(jsonInput).val());
                    console.log("JsonValue", jsonValue);

                    const index =
                        jsonValue.findIndex(prop => prop
                            .@(PropertyExtensions.GetJsonProperty<UserItemCategoryJsonViewModel>(x => x.CategoryId)) ===
                            keyId);
                    console.log("Index", index);

                    removeJson(jsonInput, index);
                    $(this).remove();
                    console.log("Button Triggered to Remove Item", this);
                });

            $(jsonInput).trigger("change");

        });
    </script>
    <script>
        $(document).ready(function() {

            const jsonInput = $("#@nameof(Model.NewUser)_@nameof(Model.NewUser.UserPropertyCategoriesJson)");
            const selectInput = $("#txtPropertyCategories");
            const wrapperClass = $("#propertyCategories");
            const submitInput = $("#addPropertyCategory");
            const itemSelector = "property-item";

            $(jsonInput).change(function() {

                const adder = $("> .adder", wrapperClass);
                const items = $("> .items", wrapperClass);
                $(items).empty();

                const json = $(jsonInput).val();
                if (json === "" || json === null) {
                    $(jsonInput).val("[]");
                }
                const jsonObject = $.parseJSON(json === "" ? "[]" : json);

                if (jsonObject.length > 0) {
                    $(items).removeClass("hidden");
                } else {
                    $(items).addClass("hidden");
                }

                $.each(jsonObject,
                    (index, item) => {

                        const id = item.@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId));
                        const name = item
                            .@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.Name));

                        const anchor = document.createElement("a");
                        $(anchor).attr("href", "#");
                        $(anchor).attr("data-id", id);
                        $(anchor).addClass(itemSelector);
                        $(anchor).attr("data-confirm", "@Html.Raw(SharedLocalizer["AreYouSureToDoThisRequest"])");

                        const nameElement = document.createElement("span");
                        $(nameElement).html(name);

                        $(anchor).append(nameElement);
                        $(items).append(anchor);

                    });

                $.each(selectInput.children(),
                    (index, item) => {
                        const id = $(item).val();
                        const i = jsonObject.findIndex(obj => obj.@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId)) === id);
                        if (i >= 0) {
                            $(item).addClass("hidden");
                        } else {
                            $(item).removeClass("hidden");
                        }

                    });

                if ($('option:not(.hidden)', selectInput).length > 0) {
                    $('option:not(.hidden):eq(0)', selectInput).prop('selected', true);
                    $(adder).fadeIn("slow");
                } else {
                    $(adder).fadeOut("slow");
                }

            });

            $(submitInput).click(function(e) {
                let selected = $(selectInput).find('option:selected:eq(0)')[0];
                if (selected === undefined || selected === null) {
                    selected = $(selectInput).find('option:eq(0)')[0];
                }
                const keyId = $(selected).attr("value");
                const keyName = $(selected).text();

                if (keyId === undefined || keyId === null)
                    return;

                const newItem = {
                    @(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId)): keyId,
                    @(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.Name)): keyName
                };

                addJson(jsonInput,
                    newItem,
                    obj => obj.@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId)) ===
                    newItem.@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId)));

            });

            $(document).on("click",
                `.${itemSelector}`,
                function(e) {
                    const keyId = $(this).attr("data-id");
                    console.log("KeyId", keyId);

                    const jsonValue = $.parseJSON($(jsonInput).val());
                    console.log("JsonValue", jsonValue);

                    const index = jsonValue.findIndex(prop => prop
                        .@(PropertyExtensions.GetJsonProperty<UserPropertyCategoryJsonViewModel>(x => x.CategoryId)) ===
                        keyId);
                    console.log("Index", index);

                    removeJson(jsonInput, index);
                    $(this).remove();
                    console.log("Button Triggered to Remove Item", this);
                });

            $(jsonInput).trigger("change");

        });
    </script>
}