@page
@model IndexModel
@{
    var roles = SelectItemExtensions.ToSelectList<Role>().AddNone();
}

<status>
    @Model.Status
</status>
<div class="col-12">

    <div class="widget">
        <widget-header title="@Model.PageTitle">
            <a asp-page="@typeof(AddModel).Page()">@SharedLocalizer[SharedResource.NewUser]</a>
        </widget-header>
        <section class="container-fluid">
            <search-nav searchModel="@Model.SearchInput" rows="@Model.List.Rows" />
        </section>
        <section class="container-fluid" id="paginatedList">
            <item-viewer model="@Model.List" />
        </section>
        <section class="container-fluid">
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>

<search-modal searchModel="@Model.SearchInput">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Username"></label>
                <input asp-for="SearchInput.Username" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md margin-bottomed">
            <div class="input-wrapper">
                <label class="control-label" asp-for="SearchInput.Role"></label>
                <select asp-for="SearchInput.Role" asp-items="roles" class="custom-select"></select>
            </div>
        </div>
    </div>
</search-modal>