@model SelectorComponentModel
@if (Model != null)
{
    var searchId = Model.SearchId;
    var searchResults = Model.SearchResultId;

    <div class="row justify-content-center align-items-center search">
        <div class="col-12">
            <label for="@searchId" class="control-label">@SharedLocalizer["Search"]</label>
            <input type="text" class="form-control" id="@searchId" value="" placeholder="@SharedLocalizer["OwnerSelectorPlaceholder"]" />
            <div class="result">
                <ul class="items d-none" id="@searchResults">
                    <li>
                        <a href="#">
                            <b class="title"></b>
                            <span class="badge badge-warning mobile"></span>
                            <span class="badge badge-danger phone"></span>
                            <span class="badge badge-primary address"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script asp-cut-key="@Model.ScriptKey">
        $(document).ready(function () {



        });
    </script>
}