@model AdminSearchConditionWrapperViewModel
@{
    var usersList = await UserService.ListJsonAsync(true, false).ConfigureAwait(false);
    var users = (usersList?.Select(x => new SelectListItem
    {
        Value = x.UserId,
        Text = x.UserFullName,
        Selected = Model.SearchInput.CreatorId == x.UserId
    }).ToList()).AddNone();
}
<hr subject="@SharedLocalizer[SharedResource.Management]" />
<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md">
        <div class="input-wrapper">
            <label class="control-label" asp-for="@Model.SearchInput.CreationDateFrom"></label>
            <input asp-for="@Model.SearchInput.CreationDateFrom" class="form-control" placeholder="@DateTime.Today.Date.GregorianToPersian(true)" />
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="input-wrapper">
            <label class="control-label" asp-for="@Model.SearchInput.CreationDateTo"></label>
            <input asp-for="@Model.SearchInput.CreationDateTo" class="form-control" placeholder="@DateTime.Today.Date.GregorianToPersian(true)" />
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="input-wrapper">
            <label class="control-label" asp-for="@Model.SearchInput.CreatorId"></label>
            <select asp-items="users" asp-for="@Model.SearchInput.CreatorId" class="custom-select"></select>
        </div>
    </div>
</div>