@page
@model IndexModel
<div class="col-12">
    <status>
        @Model.Status
    </status>
    <div class="widget">
        <widget-header title="@Model.PageTitle" />
        <section class="container-fluid">
            <search-pane is-under-condition="@Model.SearchInput.IsUnderCondition">
                <form method="post" class="search">
                    <div class="row justify-content-center align-items-center">
                        <input asp-for="SearchInput.PageNo" />
                        <div class="col-xs-12 col-md">
                            <div class="input-wrapper">
                                <label class="control-label" asp-for="SearchInput.Name"></label>
                                <input asp-for="SearchInput.Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md">
                            <div class="input-wrapper">
                                <label class="control-label" asp-for="SearchInput.Mobile"></label>
                                <input asp-for="SearchInput.Mobile" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md">
                            <div class="input-wrapper">
                                <label class="control-label" asp-for="SearchInput.Phone"></label>
                                <input asp-for="SearchInput.Phone" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xs-12 col-md">
                            <div class="input-wrapper">
                                <label class="control-label" asp-for="SearchInput.Address"></label>
                                <input asp-for="SearchInput.Address" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <vc:admin-search-condition model="@Model.SearchInput" />
                </form>
            </search-pane>
            <item-viewer model="@Model.List.Items">
                @foreach (var item in Model.List.Items)
                {
                    var disabledClass = item.IsDeleted ? "disabled" : "";
                    var disabledTerm = item.IsDeleted ? SharedLocalizer["Undelete"] : SharedLocalizer["Delete"];

                    <div class="row justify-content-center itemShow @disabledClass">
                        <div class="col-12 detail">
                            <div class="info">
                                <span>
                                    <b class="title">
                                        @item.Name
                                    </b>
                                    <a class="badge badge-primary" asp-page="@typeof(Item.IndexModel).Page()" target="_blank" asp-route-ownerName="@item.Name">@SharedLocalizer[SharedResource.AvailableItems]</a>
                                </span>
                                <span>
                                    @SharedLocalizer[SharedResource.Mobile] :
                                    <ul class="info-breadcrumb">
                                        <li>
                                            <a href="tel:@item.Mobile">
                                                @item.Mobile
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div class="button">
                                @if (User.IsInRole(Role.SuperAdmin.ToString()) || User.IsInRole(Role.Admin.ToString()))
                                {
                                    @*<a asp-page="@typeof(AddModel).Page()" asp-route-id="@item.Id" target="_blank" class="btn btn-sm btn-warning @disabledClass">@SharedLocalizer["Edit"]</a>*@
                                    <a asp-controller="Remove" asp-action="CustomerAsync" asp-route-id="@item.Id" data-confirm="@SharedLocalizer["AreYouSureToDoThisRequest"]" class="btn btn-sm btn-danger">@disabledTerm</a>
                                }
                            </div>
                        </div>
                        <vc:log logs="@item.Logs" cat="Customer" id="@item.Id" />
                    </div>
                }
            </item-viewer>
            <vc:pagination model="@Model.List" />
        </section>
    </div>
</div>